.env
.env.local
secrets.json

__pycache__/
*.py[cod]
*$py.class
*.manifest
*.spec

venv/
.venv/
env/
ENV/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

build/
dist/
*.egg-info/
.eggs/

.vscode/
.idea/

.DS_Store
Thumbs.db

docker-compose.override.yml